{% extends 'base.html.twig' %}

{% block title %}{{ formation }}{% endblock %}

{% block body %}
<h1>{{ formation }}</h1>

<div class="container mt-5">

    
    <table class="table table-striped align-middle ">
        <thead>
            <tr class="text-center">
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Formation</th>
                <th>Nombre de places</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            {% for session in formation.sessions %}
            
            <tr class="text-center">
                <td><a class="" href="{{ path('show_session', {'id' : session.id}) }}">{{ session.nom }}</a></td>
                <td>{{ session.debut | date('d/m/y') }}</td>
                <td>{{ session.fin | date('d/m/y') }}</td>
                <td>{{ session.formation }}</td>
                {% if session.stagiaire | length < session.NbPlaces %}

                <td>{{ session.stagiaire | length}}/{{ session.NbPlaces }}</td>
                {% else %}
                    <td><span class="badge bg-danger">SESSION PLEINE</span></td>
                {% endif %}
                <td><a class="" href="{{ path('update_session', {'id' : session.id}) }}"><i class="fa-solid fa-pen"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
