{% extends 'base.html.twig' %}

{% block title %}{{ stagiaire }}{% endblock %}

{% block body %}
<h1><i class="fa-solid fa-person fa-lg"></i> Fiche stagiaire</h1>

<h2>{{ stagiaire }}</h2>

<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span>Sexe:</span>{{ stagiaire.sexe }}</li>
        <li class="list-group-item"><span>Date de naissance:</span> {{ stagiaire.dateNaissance | date('d / m / Y')}} ({{ stagiaire.age }})</li>
        <li class="list-group-item"><span>Ville:</span> {{ stagiaire.ville }}</li>
        <li class="list-group-item"><span>Mail:</span> {{ stagiaire.mail }}</li>
        <li class="list-group-item"><span>Téléphone:</span> {{ stagiaire.telephone }}</li>
    </ul>
</div>

<h2 class="mt-3">Sessions 
    ({{ stagiaire.sessions | length }})
</h2>

<table class="table table-striped align-middle">

    <thead>
        <tr class="text-center">
            <th>Formation</th>
            <th>Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrit</th>
        </tr>
    </thead>
    <tbody>
    {% for session in stagiaire.sessions %}
        <tr class="text-center">
            <td><a href=" {{ path('show_formation', { 'id' : session.formation.id } )}} ">{{ session.formation }}</a></a></td>
            <td><a href="{{ path('show_session', { 'id' : session.id }) }}">{{ session }}</a></td>
            <td> {{ session.debut | date('d-m-Y') }} </td>
            <td> {{ session.fin | date('d-m-Y') }} </td>
            {% if session.stagiaire | length < session.NbPlaces %}

            <td>{{ session.stagiaire | length}}/{{ session.NbPlaces }}</td>
            {% else %}
                <td><span class="badge bg-danger">SESSION PLEINE</span></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

  


{% endblock %}
