{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<h1><i class="fa-solid fa-rectangle-list fa-lg"></i> Liste des Sessions</h1>

<table class="table table-striped align-middle">
    <thead>
        <tr class="text-center">
            <th>Nom</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Formation</th>
            <th>Nombre de places</th>
            <th>Places restantes</th>
            <th>Places prises</th>
            <th>Détails programme</th>
        </tr>
    </thead>
    <tbody>

        {% for session in sessions %}
            
        <tr class="text-center">
            <td>{{ session.nom }}</td>
            <td>{{ session.debut | date('d/m/y') }}</td>
            <td>{{ session.fin | date('d/m/y') }}</td>
            <td>{{ session.formation }}</td>
            <td>{{ session.NbPlaces }}</td>
            <td>{{ session.NbPlaces - session.stagiaire | length}}</td>
            <td>{{ session.stagiaire | length }}</td>
            <td><a class="btn btn-primary" href="{{ path('show_programme', {'id' : session.id}) }}"><i class="fa-solid fa-rectangle-list"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
