{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
<h1><i class="fa-solid fa-rectangle-list fa-lg"></i> Liste des Sessions</h1>


<a class="btn btn-primary" href="{{ path('add_session') }}" >Ajout de session</a>
{# Session en cour #}
<h2>Sessions en cour</h2>
<table class="table table-striped align-middle">
    <thead>
        <tr class="text-center">
            <th>Nom</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Formation</th>
            <th>Inscrits</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessEnCour %}     
            <tr class="text-center">
                <td><a class="" href="{{ path('show_session', {'id' : session.id}) }}">{{ session.nom }}</a></td>
                <td>{{ session.debut | date('d/m/y') }}</td>
                <td>{{ session.fin | date('d/m/y') }}</td>
                <td>{{ session.formation }}</td>
                {% if session.stagiaire | length < session.NbPlaces %}

                <td>{{ session.stagiaire | length}}/{{ session.NbPlaces }}</td>
                {% else %}
                    <td><span class="badge bg-danger">SESSION PLEINE</span></td>
                {% endif %}
                <td><a class="" href="{{ path('update_session', {'id' : session.id}) }}"><i class="fa-solid fa-pen"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    

{# Fin de la session #}
<h2>Sessions pas debuté</h2>
<table class="table table-striped align-middle">
    <thead>
        <tr class="text-center">
            <th>Nom</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Formation</th>
            <th>Inscrits</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessAVenir %}
            <tr class="text-center">
                <td><a class="" href="{{ path('show_session', {'id' : session.id}) }}">{{ session.nom }}</a></td>
                <td>{{ session.debut | date('d/m/y') }}</td>
                <td>{{ session.fin | date('d/m/y') }}</td>
                <td>{{ session.formation }}</td>

                {% if session.stagiaire | length < session.NbPlaces %}

                <td>{{ session.stagiaire | length}}/{{ session.NbPlaces }}</td>
                {% else %}
                    <td><span class="badge bg-danger">SESSION PLEINE</span></td>
                {% endif %}

                <td><a class="" href="{{ path('update_session', {'id' : session.id}) }}"><i class="fa-solid fa-pen"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{# Session fini #}
<h2>Sessions fini</h2>
<table class="table table-striped align-middle">
    <thead>
        <tr class="text-center">
            <th>Nom</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Formation</th>
            <th>Inscrits</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessFini %}   
            <tr class="text-center">
                <td><a class="" href="{{ path('show_session', {'id' : session.id}) }}">{{ session.nom }}</a></td>
                <td>{{ session.debut | date('d/m/y') }}</td>
                <td>{{ session.fin | date('d/m/y') }}</td>
                <td>{{ session.formation }}</td>
                {% if session.stagiaire | length < session.NbPlaces %}

                <td>{{ session.stagiaire | length}}/{{ session.NbPlaces }}</td>
                {% else %}
                    <td><span class="badge bg-danger">SESSION PLEINE</span></td>
                {% endif %}
                <td><a class="" href="{{ path('update_session', {'id' : session.id}) }}"><i class="fa-solid fa-pen"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}
