{% extends 'base.html.twig' %}

{% block title %}{{ session }}{% endblock %}

{% block body %}


<h1>{{ session }}</h1>
<p>
    {{ session.formation.description }}
</p>

<h2><span class="fw-bold">Formtaeur référent:</span> {{ session.formateur }} </h2>

<a class="btn btn-primary" href="{{ path('update_session', {'id' : session.id}) }}">Modifier</a>

<div class="container mt-5">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="fw-bold">Date début:</span> {{ session.debut | date('d/m/Y') }} </li>
        <li class="list-group-item"><span class="fw-bold">Date fin:</span> {{ session.fin | date('d/m/Y') }} </li>
        <li class="list-group-item"><span class="fw-bold">Durée</span> {{ session.duree }} </li>
        <li class="list-group-item"><span class="fw-bold">Nombre de place:</span> {{ session.nbplaces }} </li>
        <li class="list-group-item"><span class="fw-bold">Places dispo:</span> {{ session.NbPlaces - session.stagiaire | length}} </li>
    </ul>
</div>

<div class="container d-flex mt-5">

    <div class="container">
        <h2>Stagiaire</h2>

        {% if session.stagiaire | length >= 1 %}
        <table class="table table-striped align-middle">
            <thead>
                <tr class="text-center">
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for stagiaire in session.stagiaire %}
                
                <tr class="text-center">
                    
                    <td><a href="{{ path('show_stagiaire', { 'id': stagiaire.id}) }}">{{ stagiaire }}</a></td>
                    <td>{{ stagiaire.mail }}</td>
                    <td>{{ stagiaire.telephone }}</td>
                    <td><a href="{{ path('del_sess_stagiaire', { 'id_sess': session.id , 'id_stag' : stagiaire.id}) }}"><i class="fa-solid fa-xmark"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Pas de stagiaire</p>
        {% endif %}

        <h2>Stagiaire non inscrits</h2>

        {% if session.stagiaire | length < session.nbplaces %}
            
        
        <table class="table table-striped align-middle">
            <thead>
                <tr class="text-center">
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for stagiaire in nonInscrits %}
                    
                <tr class="text-center">
                    <td><a href="{{ path('show_stagiaire', { 'id': stagiaire.id}) }}">{{ stagiaire }}</a></td>
                    <td>{{ stagiaire.mail }}</td>
                    <td>{{ stagiaire.telephone }}</td>
                    <td><a href="{{ path('add_sess_stagiaire', { 'id_sess': session.id , 'id_stag' : stagiaire.id}) }}"><i class="fa-solid fa-plus"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Session pleine</p>
        {% endif %}
    </div>
    <div class="container">

        <h2>Programme</h2>
        <table class="table table-striped align-middle">
            <thead>
                <tr class="text-center">
                    <th>Module</th>
                    <th>Nb jours</th>
                    <th>Catégorie</th>
                    <th>Déprogrammer</th>
                </tr>
            </thead>
            <tbody>
                {% for programme in session.programmes %}
                <tr class="text-center">
                    <td>{{ programme.moduleFormation }} </td>
                    <td>{{ programme.nbJourModule }} </td>
                    <td>{{ programme.moduleFormation.categorie }} </td>
                    <td><a href="{{ path('del_sess_module', { 'id_sess': session.id , 'id_mod' : programme.id}) }}"><i class="fa-solid fa-xmark"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Module non programmés</h3>

        <table class="table table-striped align-middle">
            <thead>
                <tr class="text-center">
                    <th>Module</th>
                    <th>Catégorie</th>
                    <th>Durée</th>
                    <th>Programmer</th>
                </tr>
            </thead>
            <tbody>

                {% for prog in nonProg %}
                    
                <tr class="text-center">

                    <form action="{{ path('add_sess_module', { 'id_sess': session.id , 'id_mod' : prog.id}) }}" method="post">

                        <td>{{ prog.nom }}</td>
                        <td>{{ prog.categorie }}</td>
                        <td><input type="number" name="nbJour" min="1" value="1" id="nbJour" required>&nbsp;&nbsp;jours</td>
                        <td><button class="btn btn-primary" type="submit"><i class="fa-solid fa-plus"></i></button></td>

                    </form>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</div>



{% endblock %}
