{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<a class="btn btn-primary" href="{{ path('add_categorie') }}" >Ajouter une catégorie</a>
<table class="table table-striped align-middle">
    <thead>
        <tr class="text-center">
            <th>Nom</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for categorie in categories %}
            
        <tr class="text-center">
            <td><a href="{{ path('show_categorie', { 'id': categorie.id}) }}">{{ categorie }}</a></td>
            <td><a href="{{ path('update_categorie', { 'id' : categorie.id }) }}"><i class="fa-solid fa-pen"></i></a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}
